# 依赖
node_modules/
.pnp
.pnp.js

# 构建输出
dist
build
public

# 环境变量
.env
.env.local

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器和IDE文件
.idea/
.vscode/
*.swp
*.swo

# 操作系统文件
.DS_Store
Thumbs.db

# Railway 特定文件
.railway